@import "tailwindcss";

/* Custom CSS here */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Hide spin buttons for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}